<!-- Footer - START -->
<footer class="pt-5 mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="footer-items container">
                    <div class="row">
                        <!-- First Column: Footer Logo -->
                        <div class="col-12 col-lg-4 text-center me-lg-5 mb-5 pt-4 ps-0 ms-0">
                            <img src="images/Footer Logo.svg" alt="footer logo" id="footer" width="100%">
                        </div>
                        <!-- Second Column: 4 Items -->
                        <div class="col-12 col-lg-2 mb-3 offset-lg-1 offset-md-1 me-2">
                            <ul class="nav flex-column">
                                <li class="nav-item "><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">Mission</a></li>
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">LifeLine</a></li>
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">Nutrition</a></li>
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">Free by Referral</a></li>
                            </ul>
                        </div>
                        <!-- Third Column: 4 Items -->
                        <div class="col-12 col-lg-2 mb-3 offset-0 offset-md-1 offset-lg-0 me-2">
                            <ul class="nav flex-column">
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">Public Relations</a></li>
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">Company</a></li>
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">Management</a></li>
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3 pb-lg-1">Contact Us</a></li>
                            </ul>
                        </div>  
                        <!-- Fourth Column: 2 Items -->
                        <div class="col-12 col-lg-2 offset-0 offset-md-1 offset-lg-0">
                            <ul class="nav flex-column">
                                <li class="nav-item"><a href="#" class="footer-item nav-link ps-5 ps-md-5 ps-lg-0 pb-3">Let's Connect</a></li>
                                <li class="nav-item"><img class="ps-5 ps-md-5 ps-lg-0 p-2" src="images/weibo.svg" alt="weibo logo" id="weibo"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr> <!-- Horizontal Rule -->
        <!-- Copyright, Policies, and Terms -->
        <div class="row">
            <div class="col-12">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-12 col-lg-4 order-2 order-lg-1 mb-3 p-0">
                            <a href="#" class="footer-copyright p-0 text-decoration-none ">© 2024 TrooLife, LLC 	Irvine, California, USA</a>
                        </div>
                        <div class="col-12 col-lg-3 offset-0 offset-lg-1 flex-row order-1 order-lg-2 mb-3 p-0">
                            <a href="#" class="footer-item p-0 text-decoration-none">Privacy Policy</a>
                        </div>
                        <div class="col-12 col-lg-3 order-1 order-lg-2 mb-3 p-0">
                            <a href="#" class="footer-item p-0 text-decoration-none">Terms of Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer - END -->

<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>